*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%; 
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    background-color: #333; 
    color: white;
    text-align: center;
    padding: 20px;
}
h1{
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 10px;
    display: flex;
    justify-content: center;
}
nav ul li{
    margin: 10px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

main{
    flex: 1;
    padding: 20px;
    background-color: #676565;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin: auto;
}
.texto{
    flex: 1;
    padding-right: 20px;
    font-size: 18px;
}
.imagen{
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;

}
.redes{
    margin: 10px;
}
footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
footer ul li{
    margin: 10px;
}
footer ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
a:hover {
    color: #ffcc00;
    transition: color 0.3s ease; 
}